body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-input {
  border: 2px solid black;
  padding: 5px 10px;
  font-size: 20px;
}


/* GIF: styling the gif loader */

.image-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s;
  background-color: black;
  margin-bottom: 20px;
}

.image-container .video-controls {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
  padding: 10px;
}

.image-container:hover .video-controls {
  opacity: 0.8;
}

.control-icon {
  background: url(./icons/expand.svg);
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

.control-icon.expand {
  background-image: url(./icons/expand.svg);
}
.control-icon.play {
  background-image: url(./icons/play.svg);
}
.control-icon.pause {
  background-image: url(./icons/pause.svg);
}
.control-icon.collapse {
  background-image: url(./icons/collapse.svg);
}
