body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Allerta", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: "Ruda";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.search-input, .column-size-select {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 20px;
}


/* GIF: styling the gif loader */

.image-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s;
  background-color: grey;
  background: grey url(./icons/picture.svg) no-repeat center;
  background-size: 20%;
  margin-bottom: 20px;
}

.image-container .video-controls {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
  padding: 10px;
}

.image-container:hover .video-controls {
  opacity: 0.8;
}

.control-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .control-icon {
    display: none;
  }
}

.control-icon.play {
  background-image: url(./icons/play.svg);
}
.control-icon.pause {
  background-image: url(./icons/pause.svg);
}

/* Grid */

.grid-wrapper {
  width: 100%;
}

.grid-wrapper .grid {
  display: flex;
}

.column-size-select {
  margin: 10px;
}

.column-size-container {
  text-align: center;
}